.coin-search {
  margin: auto 2rem;
  display: flex;
  padding-top: 10px;
  width: 300px;
}

.coin-search ::placeholder {
  text-align: center;
  font-size: 15px;
  color: rgb(156, 156, 156);
}

.coin-input {
  background: rgba(24, 24, 24, 0.329);
  color: white;
  border: none;
  border-radius: 50px;
  padding: 15px;
  outline: none;
  height: 100%;
  width: 100%;
}
